html, body {
  background:
  linear-gradient(
		rgba(255, 255, 255, 0.05),
		rgba(255, 255, 255, 0.05)),
    url(https://images.unsplash.com/photo-1477244075012-5cc28286e465?auto=format&fit=crop&w=634&q=80&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    font-size: 1em;
}


.quiz {
  display: none;
}

.results {
  display: none;
}

body {

}

header {
  text-align: center;
  color: white;
}

main {
  margin: 0 auto;
  margin-top: 10vh;
  max-width: 50vw;
  max-height: 70vh;

  padding-top: 20px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 20px;
  border-radius: 10px;

  background-color: #f2f0f0;
}

header {
  margin-top: 5vh;
}

.question-counter {
  font-size: 1.1em;
  font-weight: 500;

  margin: 0 10px 10px 10px;
}

.question {
  font-weight: bold;
}

.separator {

}

.correct-counter {

}

.correct-updater {

}

.js-next-question-btn {

}

.js-startover-btn {

}

.input-section {
  
}
